body {
	margin: 0;
	padding: 0;
  }
  
  header {
	background-image:linear-gradient(to right, #000328, #00458e);
	padding: 20px;
	width: 100vw;
  
  }
  
  nav {
	background-image:linear-gradient(to right, #08203e, #557c93);
	padding: 10px;
	width: 100vw;
  }
  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	  display: flex;
	justify-content: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }


	h1 {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color: white;
	}

	h2 {
		font-family: Georgia, Times, 'Times New Roman', serif;
		color: #1f204c;
	}

	h3 {
		font-family: Verdana, sans-serif;
		color: #333;
	}

	p {
		font-size: 16px;
		line-height: 1.5;
		
	}

  .para {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
	text-align: justify;
  }
  
  
  nav ul li {
	display: inline;
  }
  
  nav ul li a {
	color: white;
	padding: 10px;
	text-decoration: none;
	
	
  }
  
  main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
  }
  
  section {
	width: 65%;
	padding: 20px;
  }
  
  aside {
	width: 25%;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 3%;
   margin-top: 3%;
   margin-right: 1%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   z-index: 2;
	
  }
  
  footer {
	  bottom: 0;
	  height: 1%;
	  width: 100%;
	  margin-top: 20px;
	  padding: 30px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  background-color: #1f204c;
	  color: white
  }
  
  /* My Responsiveness */

  /* Desktop Screen: Media Query Size: 992px and above */
  
  @media (width >= 992px) {
	aside {
	  width: 25%;
	}
  
	section {
	  width: 65%;
	}
  }
  
  /* Tablet Screen: Media Query Size: 768px to 991px */
  @media (width >= 768px) and (width <= 991px) {
	main {
	  flex-direction: column;
	}
  
	section {
	  display: flex;
	  flex-direction: column;
	  max-height: 80%;
	  height: 80%;
	  margin-bottom: 6vh;
	}
  
	aside {
	  width: 100vh;
	  height: 30%;
	 
	}
  }
  
  /* Mobile Screen: Media Query Size: 0px to 767px */
  @media (width <= 767px)
  {
	main {
	  flex-direction: column;
	}
  
	aside {
	  width: 70%;
	  height: 30%;
	}
  
  }